body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: red;
}

input,
select,
button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

li {
    margin: 10px 0;
}